{% extends 'base.html' %}
{% load static %}
{% block title %}Exotic Customs{% endblock %}

{% block content %}
<h1><center>Ferrari</center></h1>     
    <center><div class="d-flex justify-content-between"></center>
    <h5 class="mb-1"><b>Ferrari J50</b></h5>
    <a href=""><img src="{% static 'assets/FerrariJ50.jpg' %}" class="  w-100 h-100"></a>
    </div>
    <br>
    <small><button>Get Car</button></small>
    <hr class="breakline">
    <center><div class="d-flex justify-content-between"></center>
        <h5 class="mb-1"><b>Ferrari Enzo</b></h5>
        <a href=""><img src="{% static 'assets/FerrariEnzo.jpg' %}" class="w-100 h-100"></a>
        </div>
        <br>
        <small><button>Get Car</button></small>
        <hr class="breakline">
        <center><div class="d-flex justify-content-between"></center>
            <h5 class="mb-1"><b>Ferrari 458</b></h5>
            <a href=""><img src="{% static 'assets/Ferrari458.jpg' %}" class="w-100 h-100"></a>
            </div>
            <br>
            <small><button>Get Car</button></small>
            <hr class="breakline">
            <center><div class="d-flex justify-content-between"></center>
                <h5 class="mb-1"><b>Ferrari F8 Tributo</b></h5>
                <a href=""><img src="{% static 'assets/FerrariF8Tributo.jpg' %}" class="w-100 h-100"></a>
                </div>
                <br>
                <small><button>Get Car</button></small>
                <hr class="breakline">
{% endblock %}