{% extends 'base.html' %}
{% load static %}
{% block title %}Exotic Customs{% endblock %}

{% block content %}
<h1><center>Lamborghini</center></h1>
    
<center><div class="d-flex justify-content-between"></center>
    <h5 class="mb-1"><b>Lamborghini Sian</b></h5>
    <a href=""><img src="{% static 'assets/Lamborghini_Sian.jpg' %}" class="w-100 h-100"></a>
    </div>
    <br>
    <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
    <hr class="breakline">
    <center><div class="d-flex justify-content-between"></center>
        <h5 class="mb-1"><b>Lamborghini Aventador Roadster</b></h5>
        <a href=""><img src="{% static 'assets/LamborghiniAventadorRoadster.jpg' %}" class="w-100 h-100"></a>
        </div>
        <br>
        <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
        <hr class="breakline">
        <center><div class="d-flex justify-content-between"></center>
            <h5 class="mb-1"><b>Lamborghini Centenario</b></h5>
            <a href=""><img src="{% static 'assets/LamborghiniCentenario.jpg' %}" class="w-100 h-100"></a>
            </div>
            <br>
            <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
            <hr class="breakline">
            <center><div class="d-flex justify-content-between"></center>
                <h5 class="mb-1"><b>Lamborghini SC18 Alston</b></h5>
                <a href=""><img src="{% static 'assets/Lamborghini-sc18-alston.jpg' %}" class="w-100 h-100"></a>
                </div>
                <br>
                <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
                <hr class="breakline">
{% endblock %}