{% extends 'base.html' %}
{% load static %}
{% block title %}Exotic Customs{% endblock %}

{% block content %}
<h1><center>McLaren</center></h1>
    
    <center><div class="d-flex justify-content-between"></center>
    <h5 class="mb-1"><b>McLaren F1</b></h5>
    <a href=""><img src="{% static 'assets/MclarenF1.png' %}" class="  w-100 h-100"></a>
    </div>
    <br>
    <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
    <hr class="breakline">
    <center><div class="d-flex justify-content-between"></center>
        <h5 class="mb-1"><b>McLaren Roadster</b></h5>
        <a href=""><img src="{% static 'assets/MclarenRoadster.jpeg' %}" class="w-100 h-100"></a>
        </div>
        <br>
        <a href="{% url 'confirm-page' %}"></a><small><button>Get Car</button></small></a>
        <hr class="breakline">
        <center><div class="d-flex justify-content-between"></center>
            <h5 class="mb-1"><b>McLaren Senna</b></h5>
            <a href=""><img src="{% static 'assets/MclarenSenna.jpg' %}" class="w-100 h-100"></a>
            </div>
            <br>
            <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
            <hr class="breakline">
            <center><div class="d-flex justify-content-between"></center>
                <h5 class="mb-1"><b>McLaren 720S</b></h5>
                <a href=""><img src="{% static 'assets/McLaren720.jpg' %}" class="w-100 h-100"></a>
                </div>
                <br>
                <a href="{% url 'confirm-page' %}"><small><button>Get Car</button></small></a>
                <hr class="breakline">
{% endblock %}