{% extends 'base.html' %}

{% block title %}Exotic Customs{% endblock %}

{% block content %}

        <h4><center>About Us</center></h4>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <p>
                        Exotics Customs gives you the opportunity to experience the adrenaline rush of driving the coolest supercars 
                        on the planet on our exclusive racetrack that was professionally designed to get the most out of our award 
                        winning fleet. Take the wheel of these incredible machines and push their performance to the limit with one-on-one 
                        coaching from our team of professional racing instructors. There is no feeling that compares to driving a supercar for 
                        the first time and we make sure your experience is unforgettable from start to finish! Exotics Racing is the original 
                        supercar experience and offers a commitment to excellence that is unrivaled, offering the highest level of safety and 
                        service in the industry.
                </p>
                <hr class="breakline">

 

{% endblock %}
